.profile__edit-button {
    background-color: transparent;
    margin: 0;
    padding: 0;
    align-self: center;
    border: none;
    line-height: 48px;
    font-size: 42px;
    width: 24px;
}

.profile__edit-button:hover {
    cursor: pointer;
    opacity: .6;
}

@media screen and (max-width: 320px) {
    .profile__edit-button {
        width: 18px;
        line-height: 33px;
        font-size: 27px;
    }
}

