.popup__close_image {
    left: 40px;
    top: -40px;
}

@media screen and (max-width: 605px) {
    .popup__close_image {
        width: 20px;
        height: 20px;
        left: 30px;
        top: 0;
    }
}
@media screen and (max-width: 320px) {
    .popup__close_image {
        left: 0;
        top: 0;
    }
}