.element__delete {
    width: 18px;
    height: 19px;
    padding: 0;
    margin: 0;
    background-image: url("../../../images/delete.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    border: none;
    position: relative;
    bottom: 262px;
    left: 244px;

}

.element__delete:hover {
    cursor: pointer;
    opacity: .5;
}