.profile__info {
  border: 1px solid red;
  margin: 0 0 0 30px;
  max-width: 336px;
  display: grid;
  grid-template-columns: 87.5% 7.14%;
  grid-template-rows: minmax(1fr,2fr);
  align-content: center;
  justify-content: space-between;
}
.profile__info {
  display: grid;

}

@media screen and (max-width: 320px) {
  .profile__info{
    grid-template-columns: minmax(189px, 18px);
    grid-template-rows: minmax(1fr,2fr);
       grid-template-areas: "name button"
                            "position position";
    margin: 0;
    text-align: start;

  }
}

